@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	body {
		@apply bg-slate-950 text-slate-50 antialiased selection:bg-indigo-500 selection:text-white;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-bold tracking-tight;
	}
}
